.site-header {
  border-top: 5px solid $border-color-03;
  border-bottom: 1px solid $border-color-01;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;
  background-color: #b5b4c5;

  // Positioning context for the mobile navigation icon
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
	color: #b6b5d4;
}

a:link {
  color: white;
}
a:visited {
  color: #c0d1ce;
}
a:hover {
  color: darkgray;
}
a:active {
  color: darkgray;
} 