.site-header {
  border-top: 5px solid $border-color-03;
  border-bottom: 1px solid $border-color-01;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;
  background-color: #b5b4c5;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.night-mode {
	background-color: #444444;
	color: white;
}

.night-mode-quotes {
	color: #fcd299;
	font-size: 1.0em;
}

.day-mode {
	background-color: white;
	color: #555555;
}

.day-mode-quotes {
	color: #8095fb;
	font-size: 1.0em;
}

h1, h2, h3, h4, h5, h6 {
	color: #b6b5d4;
}

a:link {
  color: #08a7e7;
}
a:visited {
  color: #c0d1ce;
}
a:hover {
  color: #c0d1ce;
}
a:active {
  color: darkgray;
} 

 /* Dropdown Button */
.dropbtn {
  background-color: #b5b4c5;
  color: black;
  padding: 5px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #b5b4c5;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #8b89a4;} 

/* Blockquotes */
blockquote {
  border-left: 4px solid $border-color-01;
  padding-left: $spacing-unit / 2;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }

.footnote{
	color: #08a7e7;
}

/* Sup text */
p input + label {
  font: 0.7em / 1 system-ui, sans-serif;
  vertical-align: super;
  cursor: pointer;
  transition: color 0.1s;
}

p input + label:before {
  content: "";
}

p input + label:after {
  content: "";
}

p input + label:hover {
  color: #838374;
}

/* Footnote text */

small {
  color: #838374;
  font-size: 0.875em;
}

p input + label + small {
  transition: opacity 0.2s 0.05s;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

p input:checked + label + small {
  position: relative;
  opacity: 1;
  visibility: visible;
}

/******* Flavors *******/

/* hover reveal */

p.hover input + label + small,
p.hover input:checked + label + small {
  display: none;
}

p.hover input + label:hover + small {
  font-size:.8em;
  z-index: 1;
  position: absolute;
  display: block;
  opacity: 1;
  visibility: visible;
  padding: 0.3em 0.8em 0.4em;
  border-bottom: 1px;
  right: 4ch;
  left: 4ch;
  background: #222222ee;
  color: #eee;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  pointer-events: none;
}
