.site-header {
  border-top: 5px solid $border-color-03;
  border-bottom: 1px solid $border-color-01;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;
  background-color: #b5b4c5;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.night-mode {
	background-color: #444444;
	color: white;
}

.night-mode-quotes {
	color: #fcd299;
}

.day-mode {
	background-color: white;
	color: #555555;
}

.day-mode-quotes {
	color: #8095fb;
}

h1, h2, h3, h4, h5, h6 {
	color: #b6b5d4;
}

a:link {
  color: #08a7e7;
}
a:visited {
  color: #c0d1ce;
}
a:hover {
  color: #c0d1ce;
}
a:active {
  color: darkgray;
} 

.navbar {
  overflow: hidden;
  background-color: #b5b4c5;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #b5b4c5;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b5b4c5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #b5b4c5;
}

.show {
  display: block;
}


/* Blockquotes */
blockquote {
  border-left: 4px solid $border-color-01;
  padding-left: $spacing-unit / 2;
  font-style: normal;
  font-size: 1em;
  letter-spacing: 0px;

  > :last-child {
    margin-bottom: 0;
  }

.footnote{
	color: #08a7e7;
}

/* Sup text */
p input + label {
  font: 0.7em / 1 system-ui, sans-serif;
  vertical-align: super;
  cursor: pointer;
  transition: color 0.1s;
}

p input + label:before {
  content: "";
}

p input + label:after {
  content: "";
}

p input + label:hover {
  color: #838374;
}

/* Footnote text */

small {
  color: #838374;
  font-size: 0.875em;
}

p input + label + small {
  transition: opacity 0.2s 0.05s;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

p input:checked + label + small {
  position: relative;
  opacity: 1;
  visibility: visible;
}