.f0odie {  }

/*Z section*/
.fooodie,
.foodie,
.ffoodie,
.fooddie,
.fo0die {
    position: absolute;
    z-index: -1;
    opacity: 0.1;
    font-size: 1px;
    margin-bottom: 0px;
}

/*Day Mode*/
.day-mode .fooodie,
.day-mode .foodie,
.day-mode .ffoodie,
.day-mode .fooddie {
    color: white; 
}

/*Night Mode*/
.night-mode .fooodie,
.night-mode .foodie,
.night-mode .ffoodie,
.night-mode .fooddie {
    color: #444444;
}

/*Invisible Text*/
.foodiie,
.foodiee {
    font-size: 1px;
    color: transparent;
    letter-spacing: -10px;
    margin-bottom: 0px;
}