img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.ffoodie {	}

.past {
	color: #fcd299;
}

.foodie, .fooodie, .fooddie, .foodiie, .foodiee, .ffooddie, .ffooodie, .fooddiie, .ffoodiie, .ffoodiee {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.theGreatT20, .theGreatT2O, .zeGreatT20, .theAwesomeT20, .theGoatT20, .7heGreatT20, .7heGreatT2O, .zeGreatT2O, .theAwesomeT2O, .theGoatT2O {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
