.site-header {
  border-top: 5px solid $border-color-03;
  border-bottom: 1px solid $border-color-01;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;
  background-color: black;
  color: white;

  // Positioning context for the mobile navigation icon
  position: relative;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.foodie {	}

.darkColor {
  background-color: black;
  color: white;
}

.past {
	color: darkgray;
}

.fooodie {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
