<script type="text/javascript" src="/js/changeMode.js"></script>
{% if page.comments %}
<script id="fastcomments" src="https://cdn-eu.fastcomments.com/js/embed-v2.min.js"></script>
<div id="fastcomments-widget"></div>
<script>
    FastCommentsUI(document.getElementById('fastcomments-widget'), {
        tenantId: 'eu-eFwXogixzsA',
        pageReactConfig: {
            showUsers: false,
            reacts: [
                {id: 'superb', src: 'https://northbladetl.com/Images/superb.svg'},
                {id: 'love', src: 'https://northbladetl.com/Images/love.svg'},
                {id: 'wow', src: 'https://northbladetl.com/Images/wow.svg'},
                {id: 'sad', src: 'https://northbladetl.com/Images/sad.svg' },
                {id: 'laugh', src: 'https://northbladetl.com/Images/laugh.svg' },
                {id: 'angry', src: 'https://northbladetl.com/Images/angry.svg' },
            ]
        }
    });
    (function() {
        const setCommentMode = document.getElementById('setMode');
        /*const config = {
            tenantId: 'eu-eFwXogixzsA',
            pageReactConfig: {
                showUsers: false,
                reacts: [
                    {id: 'superb', src: 'https://northbladetl.com/Images/superb.svg'},
                    {id: 'love', src: 'https://northbladetl.com/Images/love.svg'},
                    {id: 'wow', src: 'https://northbladetl.com/Images/wow.svg'},
                    {id: 'sad', src: 'https://northbladetl.com/Images/sad.svg' },
                    {id: 'laugh', src: 'https://northbladetl.com/Images/laugh.svg' },
                    {id: 'angry', src: 'https://northbladetl.com/Images/angry.svg' },
                ]
            },
        };*/
        const instance = window.FastCommentsUI(document.getElementById('fastcomments-widget'), config);
        window.addEventListener('load', function() {
            if (document.getElementById('wrappertext').classList.contains('day-mode')) {
                document.body.classList.add('day');
            }
            instance.update(config);
        });
        setCommentMode.addEventListener('click', function() {
            if (document.body.classList.contains('day')) {
                document.body.classList.remove('day');
            } else {
                document.body.classList.add('day');
            }
            instance.update(config);
        });
    })();

</script>

<style>
    .day {
        background: #fff;
        color: #222;
    }
</style>

{% endif %}
