<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
<p class="feed-subscribe">
  Subscribe to Updates via <a href="{{ 'feed.ruh.xml' | relative_url }}">RSS</a>, <a href="https://www.novelupdates.com/">Novelupdates</a>, or <a href="https://discord.gg/s3AsADMkNQ">Discord</a>!
</p>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
  </div>

</footer>