<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
<p class="feed-subscribe">
  <a href="{{ 'feed.lnb.xml' | relative_url }}">
	<svg class="svg-icon orange">
	  <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><span>Subscribe to Legend of the Northern Blade</span>
  </a>               
  <a href="{{ 'feed.simb.xml' | relative_url }}">
	<svg class="svg-icon orange">
	  <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><span>Subscribe to Star Instructor Master Baek</span>
  </a>
</p>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
  </div>

</footer>

<div class="bottom-panel" id="bottom-panel">
    <div class="popup-wrapper" id="popup-wrapper"></div> 
</div> 
<script type="text/javascript" src="/js/footnotes.js"></script>
