<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          {% assign first_tag = page.tags | first %}
          {% if first_tag and site.data.series[first_tag] %}
            {% assign series = site.data.series[first_tag] %}
            {% assign series_feed = 'feed.' | append: first_tag | append: '.xml' %}
            Subscribe to Updates via <a href="{{ series_feed | relative_url }}" target="_blank">RSS</a>, <a href="https://www.novelupdates.com/series/{{ series_data.nu_slug }}/" target="_blank">Novelupdates</a>, <a href="https://discord.gg/s3AsADMkNQ" target="_blank">Discord</a>, <a href="https://t.me/+BlyKhQ3IYu9jNGI1" target="_blank">Telegram</a>, <a href="https://ntfy.sh/NorthBladeTL" target="_blank">NTFY</a>, or <a href="https://blogtrottr.com/?subscribe={{ series_feed | absolute_url | url_encode }}" target="_blank">Email</a>!
          {% else %}
            <a href="{{ 'feed.xml' | relative_url }}">
              <svg class="svg-icon orange">
                <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
              </svg>
              <span>Subscribe to all NorthBladeTL updates!</span>
            </a>
          {% endif %}
        </p>
        <div class="footer-col">
          <p>{{ site.description | escape }}</p>        
        </div>
      </div>
    </div>
  </div>
</footer>