<head>
  {%- include google-analytics.html -%}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="yandex-verification" content="d7fc7dd733bf4b0b" />
  <link rel="stylesheet" href="/assets/main.css?v=1.17">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

  {%- assign final_description = site.tagline -%}

  {%- capture tag_based_description -%}
    {%- case page.tags.first -%}
      {%- when 'simb' -%}Star Instructor Master Baek {{ page.title }}
      {%- when 'lnb' -%}Legend of the Northern Blade {{ page.title }}
      {%- when 'absw' -%}Absolute Warrior {{ page.title }}
      {%- when 'ruh' -%}Reincarnated as an Unruly Heir {{ page.title }}
      {%- when 'hero' -%}Heroes {{ page.title }}
    {%- endcase -%}
  {%- endcapture -%}

  {%- if tag_based_description and tag_based_description != "" -%}
    {%- assign final_description = tag_based_description | strip -%}
  {%- endif -%}

  {%- if page.description -%}
    {%- assign final_description = page.description -%}
  {%- endif -%}
  
  <meta name="description" content="{{ final_description | strip_html | strip_newlines | truncatewords: 25, '...' }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:description" content="{{ final_description | strip_html | strip_newlines | truncatewords: 25, '...' }}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />

  <!-- highlight.js support -->
  <link rel="stylesheet" href="/js/highlightjs/styles/format.css">
  <link rel="stylesheet" href="/js/highlightjs/styles/ssms.css" />
  <link rel="stylesheet" href="/css/designs.css?v=1.05">
  <link rel="stylesheet" href="/css/head.css?v=1.14">
  <link rel="stylesheet" href="/css/header.css?v=1.05">
  <script type="text/javascript" src="/js/highlightjs/highlight.min.js"></script>
  <script type="text/javascript" src="/js/highlightjs/languages/plaintext.min.js"></script>
  <script type="text/javascript" src="/js/highlightjs/languages/powershell.min.js"></script>
  <script type="text/javascript" src="/js/highlightjs/languages/tsql.min.js"></script>
  <script type="text/javascript" src="/js/navBar.js?v=1.00"></script>
  <script type="text/javascript"> hljs.highlightAll(); </script>
  <!-- end highlight.js support -->
  
  
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
  
</head>
