<button class="collapsible">Reader Settings</button>
<div class="site-settings">
  <p><b>Day/Night Mode:</b> 
      <button type="button" onclick="changeWrapColor()" id="setMode">Change Mode</button>      
  </p>
  <div style="text-align:right; margin-bottom:15px">
    <label for="fontSelect"><b>Change Font:</b></label>
    <select name="fontSelect" id="fontSelect" onchange="changeFontFamily(this.value)">
      <option value="Helvetica">Helvetica</option>
      <option value="NotoSans">NotoSans</option>
      <option value="Literata">Literata</option>
      <option value="SFProText">SFProText</option>
      <option value="Selawik">Selawik</option>
    </select>
  </div>
  <p><b>Change Font Size:</b> 
      <button type="button" onclick="changeFontSize(-1)" id="reduceFontSize">-A</button>  
      <button type="button" onclick="changeFontSize(0)" id="resetFontSize">A</button>  
      <button type="button" onclick="changeFontSize(1)" id="increaseFontSize">A+</button>
  </p>
</div>