<hr>

<div>
{% include chapter_tagging.html %}

{%- if page.tags contains 'lnb' -%}
	<p>print this</p>
	{%- if page.previous.tags contains 'lnb' -%}
		<p>print prev</p>
	{%- else -%}
		<p>fail</p>
	{% endif %}
{%- else -%}
	<p>no tag</p>
{%- endif -%}

{% capture _site_tags %}
	{% for post in site.posts %}	
		{% if post.tags contains 'lnb' %}
			{{ post.url }}
		{% endif %}		
		{% if post.url == page.url %}
			{% break %}
		{% endif %}			
	{% endfor %}
{% endcapture %}

{% for url in _site_tags %}
  {{ url }}
{% endfor %}

</div>

<div class="post_navi">
  {%- if page.previous.url -%}
  <a class="post_navi-item nav_prev" href="{{ page.previous.url }}" title="{{ page.previous.title }}">
    <div class="post_navi-arrow">&lt;</div><div class="post_navi-label">Previous Chapter</div><div><span>{{ page.previous.title }}</span></div>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_prev" href="{{ 'archive.html' | absolute_url }}" title="Chapters">
    <div class="post_navi-arrow">&lt;</div><div class="post_navi-label">Chapters</div><div><span>Chapters</span></div>
  </a>
  {%- endif -%}
  {%- if page.next.url -%}
  <a class="post_navi-item nav_next" href="{{ page.next.url }}" title="{{ page.next.title }}">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Next Chapter</div><div><span>{{ page.next.title }}</span></div>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_next" href="{{ 'archive.html' | absolute_url }}" title="Chapters">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Chapters</div><div><span>Chapters</span></div>
  </a>
  {%- endif -%}
</div>