<hr>

<div>
{% include chapter_tagging.html %}

{%- if page.tags contains 'lnb' -%}
	<p>print this</p>
	{%- if page.previous.tags contains 'lnb' -%}
		<p>print prev</p>
	{%- else -%}
		<p>fail</p>
	{% endif %}
{%- else -%}
	<p>no tag</p>
{%- endif -%}

{% assign start = false %}
{% for post in site.posts %}	
	{% if start == true and post.tags contains 'lnb' %}
		{% assign prevChap = post %}
		{% break %}
	{% endif %}			
	{% if post.url == page.url %}
		{% assign start = true %}
	{% endif %}				
{% endfor %}

{{prevChap.url}}

</div>

<div class="post_navi">
  {%- if prevChap.url -%}
  <a class="post_navi-item nav_prev" href="{{prevChap.url}}" title="{{ prevChap.title }}">
    <div class="post_navi-arrow">&lt;</div><div class="post_navi-label">Previous Chapter</div><div><span>{{ prevChap.title }}</span></div>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_prev" href="/LNB/" title="Chapters">
    <div class="post_navi-arrow">&lt;</div><div class="post_navi-label">Chapters</div><div><span>Chapters</span></div>
  </a>
  {%- endif -%}
  {%- if page.next.url -%}
  <a class="post_navi-item nav_next" href="{{ page.next.url }}" title="{{ page.next.title }}">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Next Chapter</div><div><span>{{ page.next.title }}</span></div>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_next" href="/LNB/" title="Chapters">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Chapters</div><div><span>Chapters</span></div>
  </a>
  {%- endif -%}
</div>