<div>
{% include chapter_tagging.html %}
{% assign start = false %}
{% for post in site.posts %}	
	{% if start == true and post.tags contains 'simb' %}
		{% assign prevChap = post %}
		{% break %}
	{% endif %}			
	{% if post.url == page.url %}
		{% assign start = true %}
	{% endif %}				
{% endfor %}
{% assign stop = false %}
{% for post in site.posts reversed %}	
	{% if stop == true and post.tags contains 'simb' %}
		{% assign nextChap = post %}
		{% break %}
	{% endif %}			
	{% if post.url == page.url %}
		{% assign stop = true %}
	{% endif %}				
{% endfor %}
</div>

<div>{
  display: table;
  margin-right: auto;
  margin-left: auto;
}
 <label for="chapters">Chapter List:</label>

<select name="chapters" id="chapters"  onchange="location = this.value;">
	{% for post in site.posts reversed %}	
		{% if post.tags contains 'simb' %}
			<option value="{{post.url}}">{{post.title}}</option>
		{% endif %}				
	{% endfor %}
</select> 
</div>

<p><br /></p>

<div class="post_navi">
  {%- if prevChap.url -%}
  <a class="post_navi-item nav_prev" href="{{prevChap.url}}" title="{{ prevChap.title }}">
    <div class="post_navi-arrow">&lt;</div><div class="post_navi-label">Previous Chapter</div><div><span>{{ prevChap.title }}</span></div>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_prev" href="/simb/chapters.html" title="Chapters">
    <div class="post_navi-arrow">&lt;</div><div class="post_navi-label">Chapters</div><div><span>Chapters</span></div>
  </a>
  {%- endif -%}
  {%- if nextChap.url -%}
  <a class="post_navi-item nav_next" href="{{ nextChap.url }}" title="{{ nextChap.title }}">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Next Chapter</div><div><span>{{ nextChap.title }}</span></div>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_next" href="/simb/chapters.html" title="Chapters">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Chapters</div><div><span>Chapters</span></div>
  </a>
  {%- endif -%}
</div>