{% assign url_parts = page.url | split: '/' %}
{% assign series_tag = url_parts[1] | downcase %}
{% assign chapter_from_url = url_parts[2] | remove: '.html' %}
{% assign toc_data = site.data.toc[series_tag] %}
{% assign current_post = nil %}

{% if toc_data %}
  {% for post in toc_data %}
    {% if post.chapter_id == chapter_from_url %}
      {% assign current_post = post %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="centersel">
  <select class="cmb" onchange="location = this.value;" style="width: 350px">
    <option value="">Select a chapter...</option>
    {% for post in toc_data %}
      {% assign current_chapter_id = page.name | remove: '.html' | remove: '.md' %}
      <option value="{{ post.url }}" {% if post.chapter_id == current_chapter_id %}selected{% endif %}>
        {{ post.title }}
      </option>
    {% endfor %}
  </select>
  <p><br /></p>
</div>