<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

  <body onload="cpFunc()" style="background-color: #121212;">

    {%- include header.html -%}
	{% include chapter_tagging.html %}
	
	<main class="page-content" aria-label="Content">
      <div class="wrapper" style="background-color: #444444; color: white;">
	  
        {% assign output = content			
			| replace: '-!', '<span class="past">'
			| replace: '!-', '</span>'
			| replace: '<p>aggAnnoy01', '<p class="ffoodie" id="cpa">Why aren′t you reading this at feedfoodie.github.io?'
			| replace: '<p>aggAnnoy02', '<p class="fooodie" id="cpa">Why aren′t you reading this at feedfoodie.github.io?'
			| replace: '<p>aggAnnoy03', '<p class="fooddie" id="cpa">Why aren′t you reading this at feedfoodie.github.io?'
			| replace: '<p>aggAnnoy04', '<p class="foodiie" id="cpa">Why aren′t you reading this at feedfoodie.github.io?'
			| replace: '<p>aggAnnoy05', '<p class="foodiee" id="cpa">Why aren′t you reading this at feedfoodie.github.io?'
			| replace: '<p>aggAnnoy06', '<p class="ffoodie" id="cpa">This is a non-profit translation. You should not be seeing ads.'
			| replace: '<p>aggAnnoy07', '<p class="fooodie" id="cpa">This is a non-profit translation. You should not be seeing ads.'
			| replace: '<p>aggAnnoy08', '<p class="fooddie" id="cpa">This is a non-profit translation. You should not be seeing ads.'
			| replace: '<p>aggAnnoy09', '<p class="foodiie" id="cpa">This is a non-profit translation. You should not be seeing ads.'
			| replace: '<p>aggAnnoy10', '<p class="foodiee" id="cpa">This is a non-profit translation. You should not be seeing ads.'
			| replace: '<div class="footnotes" role="doc-endnotes" id="cpa">', '<hr><h3>Footnotes:</h3><div class="footnotes" role="doc-endnotes">'
			| replace: '<p>', '<p class="foodie" id="cpa">'
		%}		
		{{output}}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
