<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

  <body style="background-color: #121212;">

    {%- include header.html -%}
	{% include chapter_tagging.html %}
	
	<main class="page-content" aria-label="Content">
      <div id="wrappertext" class="wrapper night-mode">
	  
        {% assign output = content			
			| replace: '-!', '<span class="past">'
			| replace: '!-', '</span>'
			| replace: '<p>aggAnnoy01', '<p class="ffoodie hover">Why aren′t you reading this at northbladetl.com?'
			| replace: '<p>aggAnnoy02', '<p class="fooodie hover">Y aren′t you reading this at northbladetl.com?'
			| replace: '<p>aggAnnoy03', '<p class="fooddie hover">You ought to read this at northbladetl.com.'
			| replace: '<p>aggAnnoy04', '<p class="foodiie hover">Read this at northbladetl.com, or else.'
			| replace: '<p>aggAnnoy05', '<p class="foodiee hover">northbladetl.com welcomes you.'
			| replace: '<p>aggAnnoy06', '<p class="ffoodie hover">This is a non-profit translation. You should not be seeing ads.'
			| replace: '<p>aggAnnoy07', '<p class="fooodie hover">This is a free translation. You should not be seeing ads.'
			| replace: '<p>aggAnnoy08', '<p class="fooddie hover">This is a non-profit translation. There are no ads.'
			| replace: '<p>aggAnnoy09', '<p class="foodiie hover">This is a non-profit translation. Ads? What ads?'
			| replace: '<p>aggAnnoy10', '<p class="foodiee hover">If you′re seeing this, you are at the wrong place.'
			| replace: '<p>aggAnnoy11', '<p class="theGreatT20 hover">Why aren′t you reading this at northbladetl.com?'
			| replace: '<p>aggAnnoy12', '<p class="theGreatT2O hover">Y aren′t you reading this at northbladetl.com?'
			| replace: '<p>aggAnnoy13', '<p class="zeGreatT20 hover">You ought to read this at northbladetl.com.'
			| replace: '<p>aggAnnoy14', '<p class="theAwesomeT20 hover">Why aren′t you reading this at northbladetl.com?'
			| replace: '<p>aggAnnoy15', '<p class="theGoatT20 hover">Read this at northbladetl.com, or else.'
			| replace: '<p>aggAnnoy16', '<p class="theGreatT20 hover">northbladetl.com welcomes you.'
			| replace: '<p>aggAnnoy17', '<p class="theGreatT2O hover">This is a non-profit translation. You should not be seeing ads.'
			| replace: '<p>aggAnnoy18', '<p class="zeGreatT20 hover">This is a free translation. You should not be seeing ads.'
			| replace: '<p>aggAnnoy19', '<p class="theAwesomeT20 hover">This is a non-profit translation. Ads? What ads?'
			| replace: '<p>aggAnnoy20', '<p class="theGoatT20 hover">If you′re seeing this, you are at the wrong place.'
			| replace: '<div class="footnotes" role="doc-endnotes">', '<hr><h3>Footnotes:</h3><div class="footnotes" role="doc-endnotes">'
			| replace: '<p>', '<p class="foodie hover">'
			| replace: '<blockquote>', '<blockquote class="night-mode-quotes">'
		%}		
		{{output}}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
