---
layout: default
---

<div class="home">
<br />
{%- if page.title -%}
<h1 class="page-heading">Welcome to Northern Blade Translations!</h1>
{%- endif -%}

{{ content }}

{% if site.paginate %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}


<h2 id="disclaimer">Disclaimer</h2>
<ol>
<li>Copyrights to <a href="/LNB/">Legend of the Northern Blade</a> are held by the author, Woo-Gak. </li>
<li>Copyrights to <a href="/SIMB/">Star Instructor Master Baek</a> are held by the author, Ganjajang. </li>
<li>Copyrights to <a href="/FBC/">The Fatebreaker's Codex</a> are held by the author, Cheongsiso. </li>
<li>Do not take credit or make a profit from our work. Our translations can be read for free, with no ads. We do not ask for donations.</li>
<li><strong>The translator is motivated purely by comments</strong>, but don't bother asking for faster releases since he has a full-time job with frequent overtime.</li>
</ol>
<h2 id="subscribe-to-our-series-specific-rss-feeds-">Subscribe to our Series Specific RSS Feeds!</h2>

<p class="feed-subscribe">
  <a href="{{ 'feed.lnb.xml' | relative_url }}">
    <svg class="svg-icon orange">
      <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
    </svg><span>Subscribe to Legend of the Northern Blade</span>
  </a>
</p>

<p class="feed-subscribe">
  <a href="{{ 'feed.simb.xml' | relative_url }}">
    <svg class="svg-icon orange">
      <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
    </svg><span>Subscribe to Star Instructor Master Baek</span>
  </a>
</p>

<p class="feed-subscribe">
  <a href="{{ 'feed.fbc.xml' | relative_url }}">
    <svg class="svg-icon orange">
      <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
    </svg><span>Subscribe to The Fatebreaker's Codex</span>
  </a>
</p>

<h2 id="latest-updates">Latest Updates</h2>
 
<ul class="post-list">
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span> 
        <h3>
{{ post.tags[0] | upcase }} <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
      </li>
    {% endfor %}
</ul>

</div>
