---
layout: default
---

<div class="home">
	<p><br /></p>
  {%- if page.title -%}
    <h1 class="page-heading">Welcome to Northern Blade Translations!</h1>
  {%- endif -%}

<div class="post-content">
    {{ content }}
  </div>
  
<ul class="post-list">
	{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span> 
        <h3>
			{{ post.tags[0] | upcase }} <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
      </li>
    {% endfor %}
</ul>


</div>
