---
layout: default
---
<link href="/css/override.css?v=1.00" rel="stylesheet" type="text/css">
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
{% include chapter-header.html %}

  <header class="post-header">
  <br />
    <h2>Star Instructor Master Baek</h2>
    <h1 id="chapterTitle" class="post-title p-name" itemprop="name headline">{{ current_post.title | escape }}</h1>
  <p class="post-meta">
    <time class="dt-published" datetime="{{ current_post.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ current_post.date | date: date_format }}
    </time>
  </p>
</header>

  <div class="post-content e-content" itemprop="articleBody"> 
    <div style="font-size: 16px;" id="content">
      {% include JS_buttons.html %}
      <div id="navibar">
        <p>Loading chapter...</p>
      </div>
    </div>
  <hr>
    {% include toc-dropdown.html %}
    {% include toc-nav.html %}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
{% include fastcomments.html %}